/*
    Taken from:
    https://github.com/codrops/LineHoverStyles/
*/






/* initiation */

body {
    --color-text: #45a5ff;
    --color-number: #999;
    --color-bg: #fff;
    --color-link: #45a5ff;
    --color-link-hover: #4fd0ff;
}


a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid red;
    background: transparent;
}






a {
    cursor: pointer;
    /* font-size: 18px; */
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

a::before,
a::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

a::before {
    content: '';
    /* show by default */
}









/* for default links */



a:not(.link--kale) {

}

a:not(.link--kale)::before,
a:not(.link--kale)::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

a:not(.link--kale):hover::before,
a:not(.link--kale):hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

a:not(.link--kale)::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

a:not(.link--kale)::before,
a:not(.link--kale):hover::after {
    transition-delay: 0.1s;
}

a:not(.link--kale):hover::before {
    transition-delay: 0s;
}




/* for navbar links */



.link--kale {
    font-family: halyard-display, sans-serif;
    font-weight: 600;
    /*
      text-transform: lowercase; 
    */
}

.link--kale::before {
    height: 10px;
    top: 100%;
    opacity: 0;
}

.link--kale:hover::before {
    opacity: 1;
    animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

.link--kale::after {
    content: '';
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0s;
}

.link--kale:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}



