/*
 Shamelessly stolen from "Here, There, and Everywhere",
 including but not limited to "bootstrap", "stack overflow", 
 "Mike Dane", "w3schools", et al.
 */
body {  /* define variables */
    --default-header-size: 130px;
    --default-header-photoprofile-padding: 10px;
}



.backclass {
  background-image:url(/assets/img/default.png)
}

.plainclass {
  color:            white;
  background-color: #1a1a1a;
}

.plainclass1 {
  color:            white;
  background-color: #182e45;
  /* background-color: #003263; */
}


header.header_outter > .row{
    display: grid;
    grid-template-columns: calc(2 * var(--default-header-photoprofile-padding) + var(--default-header-size)) 1fr;
}

.header_container{
    font-size:    1em;
    font-family:  'WinterHoliday',verdana,arial,helvetica,san-serif;
    vertical-align: middle;
}

.container {
  max-width:    70%;
  margin:       0 auto;
  font-size:    1em;
  font-family:  verdana,arial,helvetica,san-serif;
  text-align:   justify;
}

/*
.container a {
  color: #a0a0a0;
}

.container a:hover {
  color: #f0f0f0;
}
*/



.row {
}

.column {
  float:            left;
  display:          inline-block;
  background:       #0390fc;
  height:           var(--default-header-size);
  /* width:            100%; */
  padding-top:      var(--default-header-photoprofile-padding);
  padding-bottom:   var(--default-header-photoprofile-padding);
  padding-left:     var(--default-header-photoprofile-padding);
  padding-right:    var(--default-header-photoprofile-padding);
  text-align:       left;
}

.left {
  width:            var(--default-header-size);
}

.right {
  height:           105px;
  /* width:            calc(100% - var(--default-header-size)); */
  padding-top:      40px;
  padding-bottom:   5px;
  padding-left:     30px;
  font-size:        1.4em;
  font-weight:      bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  background-color: #204975;
  color:            #d7d7d7;
  font-size:        0.7em;
}

.navbar ul li {
  display:        inline-block;
  padding:        1px;
  padding-top:    10px;
  padding-bottom: 10px;
}



.navbar ul li a {
  text-decoration: none;
  font-size:        1em;
}



.navbar ul li a:hover {
  /*
      background-color:       #0390fc;
      color:            #d7d7d7;
      font-weight:      bold;
  */
  font-size:        1em;
}





pre {
  /*border:        3px solid rgba(255, 255, 255, 0.15);*/
  /*border-radius: 2px;*/
  padding:       0px; 
  color:         #73d216;
  background-color: #1a1a1a;
  font-size:     1em; 
}

code {
  color:            #ffffff;
  /* background-color: #002142;   */
  background-color: #444444;  
  border-radius: 2px;
  padding: 2px;
  font-family:  sans-serif,monospace;
}

/*
  ZCZC
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px; 
  color: #b5e853;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  max-width: 65%;
 */

/*
 ************************************************************
 */

@media screen and (max-width:768px) {
  ul {
    margin: 0;
    padding: 0;
  }
  #navbar ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #maincontent {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
  
  
  header.header_outter > .row{
    display: grid;
    grid-template-columns: 1fr;
  }
  .column.left{
      display:none;
  }
  .header_title{
      font-size: 1em;
  }
}

/*
 ************************************************************
 */